{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <title>
        {% block title %}{% endblock title %} | Name
    </title>
    {% block head_meta %}
        {% block head_meta_charset %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {% endblock head_meta_charset %}
        {% block head_meta_contenlanguage %}
            <meta http-equiv="Content-Language" lang="de"/>
        {% endblock head_meta_contenlanguage %}
        {% block head_meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
    {% endblock head_meta %}
    {% block head_css %}
        {% block head_css_full_page %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                  crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'Website_0_1/css/base.css' %}">
        {% endblock head_css_full_page %}
        {% block head_css_page %}
        {% endblock head_css_page %}
        {% block head_css_section %}
        {% endblock head_css_section %}
    {% endblock head_css %}
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">WebsiteName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block home_active %}{% endblock home_active %}">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block profile_active %}{% endblock profile_active %}" href="{% url 'profile' %}">Profil</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="form-btn btn btn-outline-light my-2 my-sm-0" type="button" id="logout">
                            Logout
                        </button>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="form-btn btn btn-outline-light my-2 my-sm-0" type="button" id="login">
                            Login
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="form-btn btn btn-outline-light my-2 my-sm-0" type="button" id="registration">
                            Registrieren
                        </button>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>
<div class="container" id="main-content">
    {% block content_container %}{% endblock content_container %}
</div>
</body>
<footer class="page-footer font-small blue pt-4">
    <div id="footer-content">
        <div class="container container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Footer Content</h5>
                    <p>Here you can use rows and columns here to organize your footer content.</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Link 1</a>
                        </li>
                        <li>
                            <a href="#">Link 2</a>
                        </li>
                        <li>
                            <a href="#">Link 3</a>
                        </li>
                        <li>
                            <a href="#">Link 4</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Link 1</a>
                        </li>
                        <li>
                            <a href="#">Link 2</a>
                        </li>
                        <li>
                            <a href="#">Link 3</a>
                        </li>
                        <li>
                            <a href="#">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="#">Adrian.Krenzer&Timo.Michel@Development</a>
        </div>
        {% block footer_javascript %}
            {% block footer_javascript_full_page %}
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                        crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                        crossorigin="anonymous"></script>
            {% endblock footer_javascript_full_page %}
            {% block footer_javascript_page %}{% endblock footer_javascript_page %}
            {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% endblock footer_javascript %}
</footer>
